<p>
    Pacchetto promo per Studio Legale Carlesi
</p>
<a class="a-toggle" href="javascript:$('.andreani_slc').slideToggle()"><span>Dettagli</span></a>
<div class="andreani_slc no-display">
    <h4>Sono disponibili 69 funzioni raggruppate in</h4>
    <ul>
        <li>Rivalutazioni Istat</li>
        <li>Tassi e Interessi</li>
        <li>Atti Giudiziari</li>
        <li>Fatturazione</li>
        <li>Risarcimento Danni</li>
        <li>Proprietà e Successioni</li>
        <li>Investimenti Finanziari</li>
        <li>Dichiarazione dei Redditi</li>
        <li>Penale</li>
        <li>Utilità Varie</li>
    </ul>
    <p>
        Il pacchetto proposto integra gli strumenti dello Studio Andreani
        all'intenro delle pagine di lavoro, organizzandoli in modo semplice
        e intuitivo.<br/>
        Gli stumenti saranno raggiungibili, oltre che dal menu Utility, anche 
        tramite finestre di dialogo attivabili cliccando sull'icona 
        <div class="icon"><span class="ico-cogs"></span></div><br/>
        È disponibilie anche un widget, e sarà possibile usufruire del motore
        di ricerca all'interno
    </p>
</div>
