<div id="{{ key }}" class="submenu no-display">
    <h4>{{data.label}}</h4>
    <ul class="nav">
        {% for slug, funzione in data.funzioni %}
            <li><a href="javascript:void();" class="funzioni" funzione="{{ funzione.slug }}">{{ funzione.label }}</a></li>
        {% endfor %}
    </ul>
</div>