{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@JFAndreaniBundle/Resources/public/js/index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cogs"></span>
    </div>
    <h1>Studio Andreani </h1><small>Strumenti</small></h1>
</div>
    
<div class="row-fluid">
    <div class="span2">
        {% include "JFAndreaniBundle:Default:index/categorie.html.twig" %}
    </div>
    <div class="span3">
        {% for key, data in gruppi %}
            {% include "JFAndreaniBundle:Default:index/sottomenu.html.twig" %}
        {% endfor %}
    </div>
    <div class="span7" id="fx">
    </div>            
</div>            
{% endblock %}
