<p>Permette di importare manualmente i bordereaux scaricari da Contec</p>
<a href="javascript:$('.ravinale_import_manual').slideToggle()"><span>Dettagli</span></a>
<div class="ravinale_import_manual no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Caricamento manuale dei bordereax di Contec</li>
        <li>Report di aggiornamento per ogni singola pratica</li>
    </ul>
</div>