<table class="table grid" cellpadding="0" cellspacing="0" width="100%">
    <thead>
        <tr>
            {% if mode is not defined or mode in ['personale', 'chiuso', 'tutti', 'senza_dasc', 'senza_gestore'] %}
                <th width="20">#</th>
            {% endif %}
            <th width="110">Pratica</th>
            <th width="70">DASC</th>
            <th width="25">Giud</th>
            <th width="15%">Claimant</th>
            {% if mode is not defined or mode in ['aperti', 'completo', 'chiusi', 'senza_dasc', 'senza_gestore'] %}
                <th width="40">Gestore</th>
            {% endif %}
            <th width="25">Soi</th>
            <th width="70"><abbr title="Amount Reserved">Am. Res.</abbr></th>
            {% if mode is not defined %}
                <th width="70"><abbr title="First Reserve Indication">F.R.I.</abbr></th>
            {% endif %}
            {% if app.user.hasRole(['C_RECUPERI_H']) %}
                <th>Dati recupero</th>
            {% else %}
                <th>Note</th>
            {% endif %}
            <th width="10%">Stato Pratica</th>
            <th width="80" class="TAC">Operazioni</th>
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}
        {% if app.request.get('page') %}
            {% set i = (app.request.get('page') - 1) * 50 %}
        {% endif %}
        {% for entity in pagination %}
            {% set i = i + 1 %}
            {% include "ClaimsHBundle:Tabellone:index/tr.html.twig" %}
        {% endfor %}
    </tbody>
</table>    
