<!DOCTYPE html>
<html lang="it">
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    
        <!--[if gt IE 8]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
        <![endif]--> 
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="body" style="margin-left: 0px !important;">
                <div class="content">
                    {% block body %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
