{% extends '::base.html.twig' %}
{% block title %}
Countdown
{% endblock %}
{% block js %}
{% javascripts  
    '@SLCHBundle/Resources/public/js/Countdown/index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block content %}
{% render(controller("SLCHBundle:Countdown:uploadJs")) %}
<div class="page-header">
    <div class="icon">
        <span class="ico-time"></span>
    </div>
    <h1>Countdown <small>Hospital</small></h1>
</div>        
<div style="clear: both"></div>

<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid tabbable">                    
                {% set notempty = false %}
                <ul class="nav nav-tabs">
                {% if app.user.hasRole('C_ADMIN') and nuovi|length > 0 %}
                    <li {% if not notempty %}class="active"{% endif %}><a href="#tabs-n" data-toggle="tab">Nuovi</a></li>
                    {% set notempty = true %}
                {% endif %}
                {% if miei_aperti|length > 0 %}
                    <li {% if not notempty %}class="active"{% endif %}><a href="#tabs-a" data-toggle="tab">Countdown aperti</a></li>
                    {% set notempty = true %}
                {% endif %}
                {% if miei_chiusi|length > 0 %}
                    <li {% if not notempty %}class="active"{% endif %}><a href="#tabs-c" data-toggle="tab">Countdown chiusi</a></li>
                    {% set notempty = true %}
                {% endif %}
                {% if app.user.hasRole('C_ADMIN') and aperti|length > 0 %}
                    <li {% if not notempty %}class="active"{% endif %}><a href="#tabs-o" data-toggle="tab">Countdown aperti ufficio</a></li>
                    {% set notempty = true %}
                {% endif %}
                {% if app.user.hasRole('C_ADMIN') and chiusi|length > 0 %}
                    <li {% if not notempty %}class="active"{% endif %}><a href="#tabs-r" data-toggle="tab">Countdown chiusi ufficio</a></li>
                    {% set notempty = true %}
                {% endif %}
                {% if not notempty %}
                    <li class="active"><a href="#tabs-m" data-toggle="tab">Messaggio</a></li>
                {% endif %}
                </ul>
                {% set notempty = false %}
                <div class="tab-content">
                {% if app.user.hasRole('C_ADMIN') and nuovi|length > 0 %}
                    <div id="tabs-n" class="tab-pane {% if not notempty %}active{% endif %}">
                        {% include 'SLCHBundle:Countdown:index/countdown.html.twig' with {'prefisso': 'n', 'entities': nuovi, 'gest': true} %}
                    </div>
                    {% set notempty = true %}
                {% endif %}
                {% if miei_aperti|length > 0 %}
                    <div id="tabs-a" class="tab-pane {% if not notempty %}active{% endif %}">
                        {% include 'SLCHBundle:Countdown:index/countdown.html.twig' with {'prefisso': 'a', 'entities': miei_aperti} %}
                    </div>
                    {% set notempty = true %}
                {% endif %}
                {% if miei_chiusi|length > 0 %}
                    <div id="tabs-c" class="tab-pane {% if not notempty %}active{% endif %}">
                        {% include 'SLCHBundle:Countdown:index/countdown.html.twig' with {'prefisso': 'c', 'entities': miei_chiusi} %}
                    </div>
                    {% set notempty = true %}
                {% endif %}
                {% if app.user.hasRole('C_ADMIN') and aperti|length > 0 %}
                    <div id="tabs-o" class="tab-pane {% if not notempty %}active{% endif %}">
                        {% include 'SLCHBundle:Countdown:index/countdown.html.twig' with {'prefisso': 'o', 'entities': aperti, 'gest': true} %}
                    </div>
                    {% set notempty = true %}
                {% endif %}
                {% if app.user.hasRole('C_ADMIN') and chiusi|length > 0 %}
                    <div id="tabs-r" class="tab-pane {% if not notempty %}active{% endif %}">
                        {% include 'SLCHBundle:Countdown:index/countdown.html.twig' with {'prefisso': 'r', 'entities': chiusi, 'gest': true} %}
                    </div>
                    {% set notempty = true %}
                {% endif %}
                {% if not notempty %}
                    <div id="tabs-m" class="tab-pane active">
                        Nessun countdown attivo
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if app.user.hasRole(['C_ADMIN', 'C_RECUPERI_H']) %}
    {% render(controller("ClaimsHBundle:Render:cambiaGestore")) %}
{% endif %}

<script type="text/html" id="li">
    <li id="r_{id}"><a href="{url}" target="_blank">{name}</a> ({size} byte) <button onclick="cancella('r_{id}','{delete_url}')">X</button></li>
</script>
{% endblock %}
