<td class="center">
    {{ entity.claimant }}
    {% if 'soi' not in tds %} 
        <br/>SOI: <abbr title="{{ entity.soi(true) }}">{{ entity.soi }}</abbr>
    {% endif %}
    {% if 'giudiziale' not in tds %} 
        {% if entity.giudiziale %}<br/><abbr title="{{ entity.court|trim }}">Giud.</abbr>{% endif %}
    {% endif %}
</td>