<td class="center">
    {{ entity.claimant }}
    {% if 'giudizioale' not in tds %} 
        {% if entity.giudiziale %}<br/><abbr title="{{ entity.court|trim }}">Giud.</abbr>{% endif %}
    {% endif %}
</td>