<td>
    {% if app.user.hasRole('C_ADMIN') %}
        <a href="#fb_cambia_gestore" class="fancybox button {% if entity.gestore %}gray{% else %}lgray{% endif %} gestore">
    {% else %}
        <a href="javascript:void(0)" class="button {% if entity.gestore %}gray{% else %}lgray{% endif %}">
    {% endif %}
    {% if entity.gestore %}
        <div class="user">
            {{ entity.gestore.sigla }}
        </div>
    {% else %}
        <div class="icon"><span class="ico-user"></span></div>
    {% endif %}
    </a>
</td>