{% extends '::email.html.twig' %}

{% block content %}
<h1>Aggiornamento sinistri Ravinale</h1>

{% if pratiche_nuove|length > 0 %}
    <h2><a href="{{ url('claims_hospital_senza_gestore') }}">{{ pratiche_nuove|length }} nuove pratiche</a></h2>
    <table>
        <thead>
            <tr style="background-color: #000; color: #fff; padding:2px;">
                <th>#</th>
                <th>Tpa</th>
                <th>Priorità</th>
                <th>Claimant</th>
                <th>Note</th>
                <th>Aggiornamenti</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'ClaimsRavinaleBundle:email:aggiornamentiAdmin/tbody.html.twig' with {'pratiche': pratiche_nuove} %}
        </tbody>
    </table>
{% endif %}
    
{% if pratiche_aggiornate|length > 0 %}
    <h2><a href="{{ url('claims_hospital_personale') }}">{{ pratiche_aggiornate|length }} pratiche anno subito un aggiornamento</a></h2>
    <table>
        <thead>
            <tr style="background-color: #000; color: #fff; padding:2px;">
                <th>#</th>
                <th>Tpa</th>
                <th>Priorità</th>
                <th>Claimant</th>
                <th>Note</th>
                <th>Aggiornamenti</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'ClaimsRavinaleBundle:email:aggiornamentiGestore/tbody.html.twig' with {'pratiche': pratiche_aggiornate} %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
