<div class="head yellow">      
    <h2>Documents</h2>
</div>
<div class="data dark">
    {% if pratica.documenti|length > 0 %}
    <table class="table">
        <tr>
            <th>File</th>
            <th>Size</th>
            <th>Type</th>
            <th>Op.</th>
        </tr>
        {% for documento in pratica.documenti %}
            <tr>
                <td><a href="{{ documento.urls.url }}" target="_blank">{{ documento.titolo }}</a></td>
                <td>{{ documento.size }}</td>
                <td>{{ documento.type }}</td>
                <td>{% include ":commons:delete.html.twig" with {'js': 'cancellaFile('~documento.id~', '~pratica.id~');' , 'question': 'You want to delete file ' ~ documento.titolo } %}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>