{% if class is not defined %}{% set class = '' %}{% endif %}
<a href="{{ route }}" class="button {% if disable is defined %}lgray{% else %}green{% endif %} {{ class }}" {% if target is defined %}target="{{ target }}"{% endif %}>
    <div class="icon"><span class="ico-eye-open">{% if label is defined %}{{ label }}{% endif %}</span></div>
</a>