parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: jf
    database_user: root
    database_password: Ephraim76
    
    mailer_transport: gmail
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host: smtp.gmail.com
    mailer_username: staff@jf-system.com
    mailer_password: livorno76
    mailer_user: staff@jf-system.com
    
    locale: it
    secret: ThisTokenIsNotSoSecretChangeIt

    dimensione_massima_immagine: 2000000
    larghezza_minima_immagine: 200
    altezza_minima_immagine: 200
    
    github_branch: master
    github_path: /var/www/http/jf-system.com
    github_chown: apache.apache
    github_script_dir: /var/www/http