{% extends '::stampa.html.twig' %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cogs-2"></span>
    </div>
    <h1>Analisi Sinistri <small>Hospital</small></h1>
</div>
    
{% include "ClaimsHBundle:Tabellone:stampa/table.html.twig" %}

{% endblock %}
