<div class="icon red right white">
    <a href="{{ path('claims_mr_hospital_import_form') }}"><span class="ico-upload-2" title="Carica Monthly Report"></span></a>
</div>
<div class="icon dblue right white">
    <a href="{{ path('claims_mr_hospital_import_form') }}"><span class="ico-chevron-right" title="Consegna Monthly Report"></span></a>
</div>
