<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Importazione <small>Conclusa</small></h1>
</div>
<script type="text/javascript">
    window.location = '{{ path('claims_mr_hospital') }}';
</script>
        
