{% extends '::base.html.twig' %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-archive"></span>
    </div>
    <h1>Consegna <small>Monthly Report Hospital</small></h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                Effettuata la consegna di {{ n }} pratiche su {{ sistema }}.
            </div>            
        </div>            
    </div>       
</div> 
{% endblock %}
