{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Importazione <small>Monthly Report</small></h1>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            <select name="mode" id="mode">
                <option value="-1">Standard</option>
               {# <option value="-2">BDX Contec</option> #}
                <option value="-3">BDX Ravinale</option>
                <option value="1">Add da Standard</option>
               {# <option value="2">Add da BDX Contec</option> #}
                <option value="3">Add da BDX Ravinale</option>
            </select>
{{ render(controller('EphpDragDropBundle:Render:uploadNf')) }}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@ClaimsHBundle/Resources/public/js/MonthlyReport/form.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
        </div>
    </div>
</div>
{% endblock body -%}