<div style="display: none; width: 600px" id="fb_cambia_note">
    <form id="cambia_note">
        <div class="page-header">
            <div class="icon">
                <span class="ico-pen-2"></span>
            </div>
            <h1>Scrivi note<small id="cambia_note_a"></small></h1>
        </div>        
        <div style="clear: both"></div>
        <textarea name="note[note]" style="width: 100%;" id="note_note"></textarea>
        <input type="hidden" name="note[id]" id="note_id" value="" />    
        <button type="button" onclick="assegnaNote();" class="btn" id="bt_cambia_note">Scrivi</button>
        <div style="text-align:center;" class="no-display" id="wait_cambia_note"><img src="{{ asset('/img/loaders/1d_2.gif') }}"></div>
    </form>
</div>