<div style="display: none; width: 600px" id="fb_cambia_azioni">
    <form id="cambia_azioni">
        <div class="page-header">
            <div class="icon">
                <span class="ico-pen-2"></span>
            </div>
            <h1>Scrivi azioni<small id="cambia_azioni_a"></small></h1>
        </div>        
        <div style="clear: both"></div>
        <textarea name="azioni[azioni]" style="width: 100%;" id="azioni_azioni"></textarea>
        <input type="hidden" name="azioni[id]" id="azioni_id" value="" />    
        <button type="button" onclick="assegnaNote();" class="btn" id="bt_cambia_azioni">Scrivi</button>
        <div style="text-align:center;" class="no-display" id="wait_cambia_azioni"><img src="{{ asset('/img/loaders/1d_2.gif') }}"></div>
    </form>
</div>