.wait, .todo:hover { 
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
.no-padding {
    padding: 0px !important;
}
.padding-3 {
    padding: 3px !important;
}
.padding-5 {
    padding: 5px !important;
}
.padding-10 {
    padding: 10px !important;
}
.no-margin {
    margin: 0px !important;
}
.margin-3 {
    margin: 3px !important;
}
.margin-5 {
    margin: 5px !important;
}
.margin-10 {
    margin: 10px !important;
}
.no-display {
    display: none;
}
.stroke {
    text-decoration-line: overline;
    font-style: italic !important;
    color: #DDDDDD !important;
}
tr.stroke {
    font-style: italic !important;
}
tr.stroke td {
    color: #D3D3D3 !important;
}
div.user {
    margin: 0px; 
    text-align: center; 
    line-height: 38px; 
    color: #FFFFFF; 
    font-weight: bold;
}
a.fancybox {
    color: #000000;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
th.left, td.left, .tleft {
    text-align: left;
}
th.center, td.center, .tcenter {
    text-align: center;
}
th.right, td.right, .tright {
    text-align: right;
}
.central {
    vertical-align: central;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-tabs {
    margin-bottom: 0px;
}
input.auto_date {
    width: 75px !important;
    text-align: right;
}
input.currency, input.currencynp {
    text-align: right;
}
textarea.autogrow {
    min-height: 65px !important;
}
div.bordered {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid #DDDDDD !important;
    border-bottom: 0px solid #DDDDDD !important;
}
div.bordered div {
    padding: 3px;
}
div.bordered-left {
    border-left: 1px solid #DDDDDD !important;
}
div.bordered-right {
    border-right: 1px solid #DDDDDD !important;
}
div.bordered-bottom {
    border-bottom: 1px solid #DDDDDD !important;
    margin-bottom: 10px !important;;
}
div.typography {
    line-height: 15px !important;
    min-height: 45px;
    max-height: 45px;
    overflow-y: auto;
}
div.typography:focus {
    line-height: 15px !important;
    min-height: 45px;
    max-height: 225px;
    background-color: #FFFFFF;
}