.wait, .todo:hover { 
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
.no-padding {
    padding: 0px !important;
}
.padding-3 {
    padding: 3px !important;
}
.padding-5 {
    padding: 5px !important;
}
.padding-10 {
    padding: 10px !important;
}
.no-margin {
    margin: 0px !important;
}
.margin-3 {
    margin: 3px !important;
}
.margin-5 {
    margin: 5px !important;
}
.margin-10 {
    margin: 10px !important;
}
.no-display {
    display: none;
}
.stroke {
    text-decoration-line: overline;
    font-style: italic !important;
    color: #DDDDDD !important;
}
tr.stroke {
    font-style: italic !important;
}
tr.stroke td {
    color: #D3D3D3 !important;
}
div.user {
    margin: 0px; 
    text-align: center; 
    line-height: 38px; 
    color: #FFFFFF; 
    font-weight: bold;
}
a.fancybox {
    color: #000000;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
th.left, td.left, .tleft {
    text-align: left;
}
th.center, td.center, .tcenter {
    text-align: center;
}
th.right, td.right, .tright {
    text-align: right;
}
.central {
    vertical-align: central;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-tabs {
    margin-bottom: 0px;
}
input.auto_date {
    width: 75px !important;
    text-align: right;
}
input.currency, input.currencynp {
    text-align: right;
}
textarea.autogrow {
    min-height: 65px !important;
}
div.bordered {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid #DDDDDD !important;
    border-bottom: 0px solid #DDDDDD !important;
}
div.bordered div {
    padding: 3px;
}
div.bordered-left {
    border-left: 1px solid #DDDDDD !important;
}
div.bordered-right {
    border-right: 1px solid #DDDDDD !important;
}
div.bordered-bottom {
    border-bottom: 1px solid #DDDDDD !important;
    margin-bottom: 10px !important;;
}
div.typography {
    line-height: 15px !important;
    min-height: 45px;
    max-height: 45px;
    overflow-y: auto;
}
div.typography:focus {
    line-height: 15px !important;
    min-height: 45px;
    max-height: 225px;
    background-color: #FFFFFF;
}
div.typography2 {
    line-height: 15px !important;
    min-height: 90px;
    max-height: 90px;
    overflow-y: auto;
}
div.typography2:focus {
    line-height: 15px !important;
    min-height: 90px;
    max-height: 225px;
    background-color: #FFFFFF;
}
/* CALENDARIO PIENA PAGINA */

.calendar td {
    height: 75px;
    border: 1px solid #ddd;
    vertical-align: top;
}

.calendar td .ui-state-default {
    width: 20px;
    height: 20px;
    background-color: inherit;
}

.calendar td .ui-state-active {
    background-color: #009AD7 !important;
}
.calendar td.ui-datepicker-week-end  {
    background-color: #eff;
}

.calendar .ui-datepicker-calendar td {
    width: 14.28%;
}

.calendar .ncal  {
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    background-color: rgb(215, 154, 0);
    color: rgb(255, 255, 255);
    display: block;
    height: 20px;
    line-height: 14px;
    padding: 6px;
    text-align: center;
    width: 20px;
    font-size: 1.25em;
    float: right;
}

.calendar .nscal  {
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    background-color: rgb(215, 154, 0);
    color: rgb(255, 255, 255);
    display: block;
    height: 10px;
    line-height: 7px;
    padding: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 10px;
    font-size: .75em;
    float: right;
}

.e_claims_h {
    background-color: rgb(0, 154, 215) !important;
}

.e_personale {
    background-color: rgb(0, 184, 0) !important;
}

.fta {
    background-color: #FFF !important;
    border: 1px solid #CCC;
    padding: 3px;
}

textarea.expand {
    line-height: 15px !important;
    min-height: 100px !important;
    max-height: 100px;
    overflow-y: auto;
}

textarea.expand:focus {
    line-height: 15px !important;
    min-height: 400px !important;
    max-height: 400px;
    font-size: 1.25em;
}

input.percent, input.percentual {
    width: 50px !important;
    padding-right: 20px;
    background-image: url(/bundles/claimscore/images/percent.png);
    background-position: right;
    background-repeat: no-repeat;
}

input.eur {
    width: 95px !important;
    padding-right: 20px;
    background-image: url(/bundles/claimscore/images/eur.png);
    background-position: right;
    background-repeat: no-repeat;
}

td.TAC{
    width: 80px;
}

div.right {
    float: right !important;
}

div.white a, div.white a span {
    color: #fff !important;
}
div.white a:hover, div.white a span:hover {
    color: #eee !important;
}

div.pre-footer {
    height: 50px;
    width: 100%;
}

div.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: #111111;
    margin-top: 2px solid #000000;
    z-index: 100;
}

div.footer-tools {
    margin-right: 100px;
}

ul.navigation {
    z-index: 200;
}
.audit{
    margin:20px 0;
}
.audit ul{
    display:inline-block;
    *display:inline;
    margin-bottom:0;
    margin-left:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *zoom:1;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);
    box-shadow:0 1px 2px rgba(0,0,0,0.05);
    list-style: none;
}
.audit ul>li{
    /*display:inline;*/
}
.audit ul>li>span{
    float:left;
    padding:4px 12px;
    line-height:20px;
    text-decoration:none;
    background-color:#fff !important;
    border:1px solid #ddd;
    border-left-width:0
    border-left-width:1px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-topleft:4px
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px
}