<table class="table-bordered">
    <thead>
        <tr>
            {% if mode in ['personale', 'chiuso'] %}
                <th width="20">#</th>
            {% endif %}
            <th width="110">Pratica</th>
            <th width="15%">Claimant</th>
            {% if mode in ['completo', 'senza_dasc', 'senza_gestore', 'chiusi'] %}
                <th width="40">Gestore</th>
            {% endif %}
            <th width="25">Soi</th>
            <th width="70"><abbr title="Amount Reserved">Am. Res.</abbr></th>
            {% if app.user.hasRole(['C_RECUPERI_H']) %}
                <th>Dati recupero</th>
            {% else %}
                <th>Note</th>
            {% endif %}
            <th width="10%">Stato</th>
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}
        {% for entity in entities %}
            {% set i = i + 1 %}
            {% include "ClaimsHBundle:Calendario:stampa/tr.html.twig" %}
        {% endfor %}
    </tbody>
</table>    
