<p>Pacchetto per effettuare analisi per lo Studio Legale Carlesi</p>
<a href="javascript:$('.h_analisi_slc').slideToggle()"><span>Dettagli</span></a>
<div class="h_analisi_slc no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Analisi N.P.</li>
        <li>Analisi Riserve</li>
    </ul>
</div>