<p>
    Soluzione base, di memorizzare e visualizzare appuntamenti.
</p>
<a href="javascript:$('.calendario_free_toggle').slideToggle()"><span>Dettagli</span></a>
<div class="calendario_free_toggle no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Calendario personale per ogni utenza</li>
    </ul>
</div>