<p>Gersione gratuita per 30 giorni con le funzionalità complete per la gestione dei sinistri ospedalieri.</p>
<a href="javascript:$('.h_pratiche_trial').slideToggle()"><span>Dettagli</span></a>
<div class="h_pratiche_trial no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Durata 30gg</li>
        <li>Gestione permessi utenze per Amministratore, Gestore e Recupero Crediti</li>
        <li>Elenco schede sinistri</li>
        <li>Ricerca schede sinistri</li>
        <li>Gestione schede sinistri</li>
        <li>Scrittura report sinistri</li>
        <li>Stampe per elenco, schede e report</li>
        <li>Invio promemoria giornalieri</li>
        <li>Visualizzazione pratiche per impegni giornalieri</li>
        <li>Visualizzazione pratiche per stato</li>
    </ul>
</div>