<p>Con questo pacchetto si abilitano le funzionalità per la visualizzazione giornaliera degli impegni e l'invio quotidiano dei promemoria giornalieri.</p>
<a href="javascript:$('.h_pratiche_cal').slideToggle()"><span>Dettagli</span></a>
<div class="h_pratiche_cal no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Gestione permessi utenze per Amministratore, Gestore e Recupero Crediti</li>
        <li>Elenco schede sinistri</li>
        <li>Ricerca schede sinistri</li>
        <li>Gestione schede sinistri</li>
        <li>Scrittura report sinistri</li>
        <li>Stampe per elenco, schede e report</li>
        <li>Invio promemoria giornalieri</li>
        <li>Visualizzazione pratiche per impegni giornalieri</li>
    </ul>
</div>