{% if not app.user.cliente.bloccato %}
<div class="widget blue icon">
    <div class="left">
        <div class="icon">
            <span class="ico-search"></span>
        </div>
    </div>
    <form action="{{ path('claims_hospital_ricerca') }}" id="ricerca_h" method="GET">
        <div class="right">
            <h4>Claims Hospital</h4>
            <input name="q" type="text" value="" />
            <input id="all" name="all" type="hidden" value="0" />
            <button class="btn dblue"onclick="$('#all').val(1);ricercaH();">Cerca su tutti i campi testuali</button>
            <abbr title="Cerca per nome Claimant, all'interno delle Note, dei Dati Recupero e del Calendario" class="ico-info">Dove cerca</abbr>
        </div>
        <div class="bottom">
            <a href="javascript:ricercaH()">Cerca</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    function ricercaH() {
        $('#ricerca_h').submit();
    }
</script>
{% endif %}
