<div style="width: 60em; padding:10px;">
    <div class="page-header">
        <div class="icon">
            <span class="ico-file-3"></span>
        </div>
        <h1>{{ entity.codice }}<small>{{ entity.claimant }}</small></h1>
    </div>        
    <div style="clear: both"></div>
    {% include 'ClaimsHBundle:Tabellone:pratica/body.html.twig' %}
</div>