<div class="page-header">
    {% if no_back is not defined %}
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    {% endif %}
    <h1>Report #{{ entity.number }} del {{ entity.data|date('d/m/Y')}} <small>{{ entity.pratica }}</small></h1>
</div>
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Copertura', 'span_value': 9, 'value': entity.copertura} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Stato', 'span_value': 9, 'value': entity.stato} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Descrizione in fatto', 'span_value': 9, 'value': entity.descrizioneInFatto} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Relazione avversaria', 'span_value': 9, 'value': entity.relazioneAvversaria} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Relazione ex adverso', 'span_value': 9, 'value': entity.relazioneExAdverso} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Medico Legale 1', 'span_value': 9, 'value': entity.MedicoLegale1} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Medico Legale 2', 'span_value': 9, 'value': entity.MedicoLegale2} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Medico Legale 3', 'span_value': 9, 'value': entity.MedicoLegale3} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Valutazione responsabilita', 'span_value': 9, 'value': entity.valutazioneResponsabilita} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Analisi danno', 'span_value': 9, 'value': entity.analisiDanno} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Riserva', 'span_value': 9, 'value': entity.riserva} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Possibile rivalsa', 'span_value': 9, 'value': entity.possibileRivalsa} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Azioni', 'span_value': 9, 'value': entity.azioni} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Richiesta SA', 'span_value': 9, 'value': entity.richiestaSa} %}
{% include 'ClaimsHBundle:Tabellone:commons/repo_brick.html.twig' with {'span_label': 3, 'label': 'Note', 'span_value': 9, 'value': entity.note, 'last': true} %}
{% if no_back is not defined %}
    <a href="{{ path('claims_hospital_report', {'slug': entity.pratica.slug}) }}" onclick="return loadAjax($(this));">
        <span class="label label-inverse">Torna indietro</span>
    </a>
{% endif %}