{% extends '::stampa.html.twig' %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-archive"></span>
    </div>
    <h1>JF-Claims <small>Hospital</small></h1>
</div>
    
{% include "ClaimsHBundle:Tabellone:stampa/table_nuova.html.twig" %}

{% endblock %}
