{% extends '::stampa.html.twig' %}
{% block body -%}
{% include "ClaimsHBundle:Tabellone:stampaReport/copertina.html.twig" %}
{% for report in entity.reports %}
    <div style="clear: both; page-break-after: always;"></div>
    {% include "ClaimsHBundle:Tabellone:showReport.html.twig" with {'entity': report, 'no_back': true} %}
{% endfor %}
{% endblock %}
