<div class="icon red right white">
    <a href="{{ path('contec_import_form', {'audit': 1}) }}"><span class="ico-upload-2" title="Carica Audit Contec"></span></a>
</div>
<div class="icon purple right white todo">
    <a href="{{ path('contec_import_form', {'audit': 1}) }}"><span class="ico-upload-2" title="Carica Audit Ravinale"></span></a>
</div>
<div class="icon dblue right white todo">
    <a href="{{ path('claims_mr_hospital_import_form') }}"><span class="ico-chevron-right" title="Consegna Audit"></span></a>
</div>
