<div class="row-fluid bordered {% if last is defined %}bordered-bottom{% endif %}">
    <div class="span{{ span_label }}">
        <div class="block bold">
            {{ label }}
        </div>
    </div>
    <div class="span{{ span_value }} bordered-left">
        <div class="block">
            {{ value }}&nbsp;
        </div>
    </div>
</div>