{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Sottogruppo</h1>
</div>
<a href="{{ path('eph_sottogruppi-audit_new') }}">
    <span class="label label-important">Nuovo sottogruppo</span>
</a>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <table class="table" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Titolo</th>
                            <th width="40" class="TAC">Op.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.titolo }}</td>
                            <td>
                <ul>                    
                    {% include ":commons:edit.html.twig" with {'route': path('eph_sottogruppi-audit_edit', { 'id': entity.id })} %}
                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                
                
        </tbody>
    </table>

{% endblock %}
