{# LICENZE #}
<div class="widget green icon">
    <div class="left">
        <div class="icon">
            <span class="ico-cogs"></span>
        </div>
    </div>
    <div class="right">
        <h4>Strumenti Studio Andreani</h4>
    </div>
    <div class="bottom">
        <a href="{{ path('studio_andreani') }}">Apri</a>
    </div>                            
</div>
