<p>È la gestione semplice delle audit per le pratiche dei sinistri ospedalieri</p>
<a href="javascript:$('.h_pratiche_base').slideToggle()"><span>Dettagli</span></a>
<div class="h_pratiche_base no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Creazione Audit</li>
        <li>Inserimento domande</li>
        <li>Inserimento risposte</li>
    </ul>
</div>