<table class="table-bordered">
    <thead>
        <tr>
            {% for td in tds %}
                {% include "ClaimsHBundle:Tabellone:stampa/th/"~td~".html.twig" %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}
        {% for entity in entities %}
            {% set i = i + 1 %}
            {% include "ClaimsHBundle:Tabellone:stampa/tr_nuova.html.twig" %}
        {% endfor %}
    </tbody>
</table>    
